/* BASE */
body {
  background: #1E252B;
  color: rgba(255, 255, 255, 0.8980392157);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1224px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container--fluid {
  max-width: unset;
  width: 100%;
}
.container-no-padding {
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button, input[type=submit] {
  background: none;
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/*BLOCKS */
.nav-bar {
  padding-top: 30px;
  height: 78px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.nav__logo a {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.9);
}

.nav__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__links a {
  font-size: 16px;
  padding: 10px 25px;
  color: rgba(255, 255, 255, 0.55);
  border-radius: 8px;
  transition: 0.2s ease-in;
}
.nav__links a:hover {
  padding: 10px 25px;
  background-color: #FF6E30;
  color: rgba(255, 255, 255, 0.78);
  border-radius: 8px;
  color: #fff;
}

.dropdown {
  position: relative;
}
.dropdown .dropdown-link {
  position: relative;
}
.dropdown .dropdown-link::after {
  content: ">";
  position: absolute;
  display: inline-block;
  rotate: 90deg;
  right: 8%;
  bottom: 20%;
}
.dropdown .menu {
  position: absolute;
  list-style: none;
  background: rgba(40, 48, 54, 0.6);
  top: 160%;
  left: 0;
  transform: 0.2s ease-in;
  display: none;
  z-index: 1;
  box-sizing: content-box;
}
.dropdown .menu li {
  width: 200px;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 25px;
}
.dropdown .menu li:hover {
  background: #FF6E30;
  color: #fff;
  padding: 10px 25px;
}
.dropdown .menu-open {
  display: block;
  opacity: 1;
}

.nav__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.nav__buttons a {
  color: rgba(255, 255, 255, 0.78);
  font-size: 16px;
  border-radius: 8px;
  padding: 10px 25px;
  transition: 0.2s ease-in;
}
.nav__buttons a:hover {
  color: #fff;
  padding: 10px 25px;
  background-color: #FF6E30;
  color: #FDF5FF;
  border-radius: 8px;
}

@media screen and (max-width: 992px) {
  .nav__links {
    /* display: none; */
    display: block;
    width: 260px;
    height: 330px;
    position: absolute;
    left: -260px;
    top: 0;
    background-color: rgba(40, 48, 54, 0.9);
    padding-top: 50px;
    margin: 0;
    transition: 0.4s ease-in;
  }
  .nav__links a {
    display: block;
    font-size: 20px;
    margin-top: 15px;
  }
  .nav__links .dropdown-link::after {
    display: none;
  }
  .nav__links .menu {
    display: none;
  }
  .nav__logo {
    flex-grow: 1;
    justify-content: left;
    margin-left: 20px;
  }
  .nav-bar.open .nav__links {
    transform: translateX(100%);
  }
}
@media screen and (max-width: 439px) {
  .nav__buttons {
    display: none;
  }
}
.button {
  padding: 10px 25px;
  background-color: #FF6E30;
  color: rgba(255, 255, 255, 0.78);
  border-radius: 8px;
  transition: 0.2s ease-in;
}
.button:hover {
  color: #FDF5FF;
  background-color: #f46121;
}

.burger__menu {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(40, 48, 54, 0.793);
  z-index: 2;
}
.burger__menu span {
  position: absolute;
  width: 30px;
  height: 5px;
  background: #FF6E30;
  left: 5px;
  bottom: 17px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.burger__menu span:nth-child(1) {
  transform: translateY(-10px);
}
.burger__menu span:nth-child(3) {
  transform: translateY(10px);
}

/* ======BURGER TRANSFORM IN TO X */
.nav-bar.open span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.nav-bar.open span:nth-child(2) {
  opacity: 0;
}

.nav-bar.open span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

@media screen and (max-width: 992px) {
  .burger__menu {
    display: block;
  }
}
.header {
  margin-top: 100px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__content h1 {
  width: 600px;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 30px;
}
.header__content span {
  color: #FF6E30;
}
.header__content p {
  width: 487px;
  margin-bottom: 60px;
}

.header__form {
  background: #283036;
  width: 497px;
  border-radius: 15px;
  height: 58px;
  margin-bottom: 110px;
}

.header__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  height: 100%;
  position: relative;
}
.header__label::before {
  content: "";
  display: block;
  position: absolute;
  top: 17px;
  left: 21px;
  width: 24px;
  height: 24px;
  background-image: url(./../img/header/search.svg);
  background-image: no-repeat;
  background-size: initial;
}

.header__input {
  background: #283036;
  color: #fff;
  flex-grow: 1;
}

.button {
  margin-right: 10px;
}

.header__social {
  display: flex;
  gap: 20px;
}
.header__social a:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

@media (max-width: 991px) {
  .header__img {
    display: none;
  }
  .header__content {
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */