.button {
   padding: 10px 25px;
   background-color: $button-color;
   color: rgba(255, 255, 255, 0.78);
   border-radius: 8px;
   transition: 0.2s ease-in;

   &:hover {
    color: #FDF5FF;
    background-color:#f46121;
   }
}

.tools__btn {
   padding: 9px 35px;
   background-color: transparent;
   color: rgba(255, 255, 255, 0.55);
   border-radius: 8px;
   transition: 0.3s ease-in;

   &:hover {
    color: #FDF5FF;
    background-color:#f46121;
   }
}

.bottom__button {
   padding: 17px 38px;
   color: $button-color;
   background: transparent;
   cursor: pointer;
   border: 1px solid rgba(255, 255, 255, 0.1);
   
}