.header {
    margin-top: 100px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    
    
    h1 {
       font-size: 50px; 
       font-weight: 500;
       line-height: 1.4;
       margin-bottom: 30px;

    }

    span {
        color: $button-color;
       }

    p {
        max-width: 487px;
        margin-bottom: 60px;
    }
}

.header__form {
    background: #283036;
    max-width: 497px;
    border-radius: 15px;
    height: 58px;

    margin-bottom: 110px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.header__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    
    height: 100%;
    position: relative;
    

    &::before {
        content: "";
        display: block;

        position: absolute;
        top: 17px;
        left: 21px;

        width: 24px;
        height: 24px;

        background-image: url(./../img/header/search.svg);
        background-image: no-repeat;
        background-size: initial;

    }

    &.join__us {
        padding-left: 30px;
    }
    
    &.join__us::before {
        display: none;
    }
}
.header__input {
    background: #283036;
    color: #fff;
    flex-grow: 1;

    &.input__email {
        margin-right: 100px;
    }
    
}
.button {
    margin-right: 10px;
}
.header__social {
    display: flex;
    gap: 20px;
    
    a {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    a:hover {
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }
}

@media (max-width: 991px) {

    .header__img {
        display: none;
    }
    .header__content {
        margin: 0 auto;
        align-items: center;
        text-align: center;
        h1 {
            font-size: 30px;
        }

        p{
            width: 100%;
            
        }
    }

    .header__form {
        width: 100%;
    }

    .header__input {
        font-size: 10px;
    }
}

@media (max-width: 767px) {

    .header__content {
        margin: 0 auto;
        align-items: center;
        text-align: center;
        h1 {
            width: 100%;
            font-size: 30px;
        }

        p{
            width: 100%;
            font-size: 16px;
        }

        .header__label {
            padding-left: 45px;
        }
        .header__form {
            width: 100%;
        }
       
    }
}

